<section class='d-flex justify-content-center'>
  <div class='card w-75 border-success'>
    <div class='card-header d-flex justify-content-center'>
      <h2 class='text-light'>Log in</h2>
    </div>

    <div class='card-body'>
      <%= form_with(model: [@user, @post, @comment], local: true) do |form| %>
        <div>
          <%= form.label :comment %>
          <br />
          <%= form.text_area :comment, rows: 6, columns: 6 %>
        </div>
  
        <div class='d-flex justify-content-center'>
          <%= form.submit "Add comment", class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    </div>
  </div>

</section>
